/node_modules
/public
/public/js
/public/css
/public/images/*.*
/public/hot
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
aa.bat
Sherif.txt
laravel-echo-server.json
adobesign.txt
todo.txt
metrakey
public.pem